<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Navbar</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h3 class="username">username</h3>
    <nav class="nav">
      
      <a href="/home/abbos/Desktop/PROJECT1/view/mainpage/images/index.html" class="nav-link">Images</a>
      <a href="/home/abbos/Desktop/PROJECT1/view/mainpage/videos/index.html" class="nav-link">Videos</a>
      <a href="/home/abbos/Desktop/PROJECT1/view/mainpage/files/index.html" class="nav-link">Files</a>
      <a href="/home/abbos/Desktop/PROJECT1/view/login.html" class="nav-link">Logout</a>
    </nav>
    <script src="script.js"></script>
  </body>
</html>