<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <h1>Username</h1>

        <div class="topnav">
            <a href="#photos">Photos</a>
            <a href="#videos">Videos</a>
            <a href="#files">Files</a>
          </div>
          <div class="logout"> <a href="#logout">Logout</a></div>
          
          <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>
          <div class="list">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>